<?xml version='1.0' encoding='utf-8'?>
<plugin id="reverseGeocoding" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>reverseGeocoding</name><js-module name="reverseGeocoding" src="www/reverseGeocoding.js"><clobbers target="cordova.plugins.reverseGeocoding" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="reverseGeocoding"><param name="ios-package" value="reverseGeocoding" /></feature></config-file><source-file src="src/ios/reverseGeocoding.m" /></platform></plugin>